<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.model.Customer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="examine" jdbcType="VARCHAR" property="examine" />
    <result column="head_image" jdbcType="INTEGER" property="headImage" />
    <result column="openId" jdbcType="VARCHAR" property="openId" />
    <result column="ch_name" jdbcType="VARCHAR" property="chName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
     <result column="birthday2" jdbcType="VARCHAR" property="birthday2" />
    <result column="hometown" jdbcType="VARCHAR" property="hometown" />
    <result column="addtress" jdbcType="VARCHAR" property="addtress" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="marriage" jdbcType="VARCHAR" property="marriage" />
    <result column="height2" jdbcType="DOUBLE" property="height2" />
    <result column="weight2" jdbcType="DOUBLE" property="weight2" />
    <result column="marriage2" jdbcType="VARCHAR" property="marriage2" />
    <result column="children" jdbcType="VARCHAR" property="children" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="house_status" jdbcType="VARCHAR" property="houseStatus" />
    <result column="income" jdbcType="VARCHAR" property="income" />
    <result column="degree2" jdbcType="VARCHAR" property="degree2" />
    <result column="house_status2" jdbcType="VARCHAR" property="houseStatus2" />
    <result column="income2" jdbcType="VARCHAR" property="income2" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="referee" jdbcType="VARCHAR" property="referee" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="declaration" jdbcType="VARCHAR" property="declaration" />
    <result column="ask" jdbcType="VARCHAR" property="ask" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="loca" jdbcType="VARCHAR" property="loca" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="economic" jdbcType="VARCHAR" property="economic" />
    <result column="looks" jdbcType="VARCHAR" property="looks" />
    <result column="disposition" jdbcType="VARCHAR" property="disposition" />
    <result column="life_role" jdbcType="VARCHAR" property="lifeRole" />
    <result column="life_type" jdbcType="VARCHAR" property="lifeType" />
    <result column="non_type" jdbcType="VARCHAR" property="nonType" />
    <result column="other" jdbcType="INTEGER" property="other" />
    <collection property="focus" ofType="com.model.Focus" select="getFocus" column="id">
		</collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, examine, head_image, ch_name, nick_name, sex, birthday, birthday2,hometown,hometown2, addtress, height,height2, 
    weight,weight2, marriage,marriage2, children, degree,degree2, house_status, house_status2,industry, income,income2 ,qq, telephone, 
    email, referee, introduction, declaration, ask, remark,flag , openId ,age , loca,economic,looks,disposition,life_role,life_type,
    non_type,other
  </sql>
  <select id="getFocus" parameterType="int" resultType="com.model.Focus">
		select 
			s.id,
			s. from_id as fromId,
			s.to_id as toId
		from t_focus s
		where from_id = #{id}
	</select>
	
  <select id="queryByWhere" resultMap="BaseResultMap" >
  	    select  <include refid="Base_Column_List" /> from t_customer where 1=1 
  	    <if test="obj.id!=null and obj.id > 0">
  	    	    and id = #{obj.id}
  	    </if>
  	    <if test="obj.id!=null and obj.id > 0">
  	    	    and id = #{obj.id}
  	    </if>
  	    <if test="obj.chName !=null and obj.chName != '' ">
  	    	 	and  ch_name like #{obj.chName}
  	    </if>
  	    <if test="obj.nickName!= null and obj.nickName != '' ">
  	    	     and nick_name like #{obj.nickName}
  	    </if>
  	    <if test="obj.sex!= null and obj.sex != '' ">
  	    	     and sex = #{obj.sex}
  	    </if>
  	    <if test="obj.webSex!= null and obj.webSex != '' ">
  	    	     and sex != #{obj.webSex}
  	    </if>
  	     <if test="obj.openId!= null and obj.openId != '' ">
  	    	     and openId = #{obj.openId}
  	    </if>
  	    <if test="obj.loca!= null and obj.loca != '' ">
  	    	     and loca = #{obj.loca}
  	    </if>
  	     <if test="obj.email != null and obj.email != '' ">
  	    	     and email = #{obj.email}
  	    </if>
  	    <if test="obj.ageFrom!=null and obj.ageFrom > 0">
  	    	    and age  >= #{obj.ageFrom}
  	    </if>
  	    <if test="obj.ageTo !=null and obj.ageTo > 0">
  	    	    and age  &lt;= #{obj.ageTo}
  	    </if>
  	    <if test="obj.heightFrom!=null and obj.heightFrom > 0">
  	    	    and height  >= #{obj.heightFrom}
  	    </if>
  	    <if test="obj.heightTo !=null and obj.heightTo > 0">
  	    	    and height  &lt;= #{obj.heightTo}
  	    </if>
  	     limit  #{page.start}, #{page.pageSize} 
  </select>
  
  <select id="queryTotal"  resultType="java.lang.Integer">
  	    select count(*) from t_customer where 1=1 
  	     <if test="id!=null and id > 0">
  	    	    and id = #{id}
  	    </if>
  	    <if test="chName !=null and chName != '' ">
  	    	 	and  ch_name like #{chName}
  	    </if>
  	    <if test="nickName!= null and nickName != '' ">
  	    	     and nick_name like #{nickName}
  	    </if>
  	    <if test="sex!= null and sex != '' ">
  	    	     and sex = #{sex}
  	    </if>
  	    <if test="loca!= null and loca != '' ">
  	    	     and loca = #{loca}
  	    </if>
  	     <if test="email != null and email  != '' ">
  	    	     and email = #{email}
  	    </if>
  	    <if test="ageFrom!=null and ageFrom > 0">
  	    	    and age  >= #{ageFrom}
  	    </if>
  	    <if test="ageTo !=null and ageTo > 0">
  	    	    and age  &lt;= #{ageTo}
  	    </if>
  	    <if test="heightFrom!=null and heightFrom > 0">
  	    	    and height  >= #{heightFrom}
  	    </if>
  	    <if test="heightTo !=null and heightTo > 0">
  	    	    and height  &lt;= #{heightTo}
  	    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.Customer" keyProperty="id">
  	<selectKey keyProperty='id' resultType='int' order='AFTER'  >  
        select LAST_INSERT_ID();  
    </selectKey> 
    insert into t_customer (id, examine, head_image, 
      ch_name, nick_name, sex, 
      birthday, hometown, addtress, 
      height, weight, marriage, 
      children, degree, house_status, 
      industry, income, qq, 
      telephone, email, referee, 
      introduction, declaration, ask, 
      remark, flag , openId , age , loca , birthday2,hometown2,height2,weight2,marriage2,
      degree2 ,house_status2,income2 ,economic,looks,disposition,life_role,life_type,
   		 non_type,other)
    values (#{id,jdbcType=INTEGER}, #{examine,jdbcType=VARCHAR}, #{headImage,jdbcType=INTEGER}, 
      #{chName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{hometown,jdbcType=VARCHAR}, #{addtress,jdbcType=VARCHAR}, 
      #{height,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE}, #{marriage,jdbcType=VARCHAR}, 
      #{children,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, #{houseStatus,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{income,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{referee,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{declaration,jdbcType=VARCHAR}, #{ask,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR} , #{flag,jdbcType=VARCHAR} , #{openId,jdbcType=VARCHAR} ,
       #{age,jdbcType=INTEGER} , #{loca,jdbcType=VARCHAR},
       #{birthday2,jdbcType=VARCHAR}, #{hometown2,jdbcType=VARCHAR}, 
       #{height2,jdbcType=DOUBLE}, #{weight2,jdbcType=DOUBLE}, #{marriage2,jdbcType=VARCHAR}, 
        #{degree2,jdbcType=VARCHAR}, #{houseStatus2,jdbcType=VARCHAR},  #{income2,jdbcType=VARCHAR},
        #{economic,jdbcType=VARCHAR}, #{looks,jdbcType=VARCHAR},  #{disposition,jdbcType=VARCHAR},
        #{lifeRole,jdbcType=VARCHAR} ,#{lifeType,jdbcType=VARCHAR} , #{nonType,jdbcType=VARCHAR},  #{other,jdbcType=VARCHAR}
       )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.model.Customer">
    update t_customer
    set examine = #{examine,jdbcType=VARCHAR},
      head_image = #{headImage,jdbcType=INTEGER},
      ch_name = #{chName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      hometown = #{hometown,jdbcType=VARCHAR},
      birthday2 = #{birthday2,jdbcType=VARCHAR},
      hometown2 = #{hometown2,jdbcType=VARCHAR},
      addtress = #{addtress,jdbcType=VARCHAR},
      height = #{height,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      marriage = #{marriage,jdbcType=VARCHAR},
      height2 = #{height2,jdbcType=DOUBLE},
      weight2 = #{weight2,jdbcType=DOUBLE},
      marriage2 = #{marriage2,jdbcType=VARCHAR},
      children = #{children,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      house_status = #{houseStatus,jdbcType=VARCHAR},
      degree2 = #{degree2,jdbcType=VARCHAR},
      house_status2 = #{houseStatus2,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      income = #{income,jdbcType=VARCHAR},
      income2 = #{income2,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      referee = #{referee,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      declaration = #{declaration,jdbcType=VARCHAR},
      ask = #{ask,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      openId = #{openId,jdbcType=VARCHAR} ,
      loca = #{loca,jdbcType=VARCHAR} ,
      age = #{age,jdbcType=INTEGER} ,
      economic =   #{economic,jdbcType=VARCHAR}, 
       looks= #{looks,jdbcType=VARCHAR},  
      disposition=  #{disposition,jdbcType=VARCHAR},
      life_role = #{lifeRole,jdbcType=VARCHAR} ,
      life_type =  #{lifeType,jdbcType=VARCHAR} , 
       non_type = #{nonType,jdbcType=VARCHAR},  
        other= #{other,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>