<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RemindMapper">
  <resultMap id="BaseResultMap" type="com.model.Remind">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remind_time" jdbcType="VARCHAR" property="remindTime" />
    <result column="remind" jdbcType="VARCHAR" property="remind" />
    <result column="remind_type" jdbcType="VARCHAR" property="remindType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
   	 id, name, remind_time, remind, remind_type, remark
  </sql>
  
  
   <select id="queryByWhere" resultMap="BaseResultMap" >
  	    select  <include refid="Base_Column_List" /> from t_remind where 1=1 
  	    <if test="obj.id!=null and obj.id > 0">
  	    	    and id = #{obj.id}
  	    </if>
  	    <if test="obj.name !=null and obj.name != '' ">
  	    	 	and  name like #{obj.name}
  	    </if>
  	    <if test="obj.remindType!= null and obj.remindType != '' ">
  	    	     and remind_type = #{obj.remindType}
  	    </if>
  	     limit  #{page.start}, #{page.pageSize} 
  </select>
  
  <select id="queryTotal"  resultType="java.lang.Integer">
  	    select count(*) from t_remind where 1=1 
  	  <if test="id!=null and id > 0">
  	    	    and id = #{id}
  	    </if>
  	    <if test="name !=null and name != '' ">
  	    	 	and  name like #{name}
  	    </if>
  	    <if test="remindType!= null and remindType != '' ">
  	    	     and remind_type = #{remindType}
  	    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_remind
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_remind
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.Remind">
    insert into t_remind (id, name, remind_time, 
      remind, remind_type, remark
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{remindTime,jdbcType=VARCHAR}, 
      #{remind,jdbcType=VARCHAR}, #{remindType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.Remind">
    insert into t_remind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remindTime != null">
        remind_time,
      </if>
      <if test="remind != null">
        remind,
      </if>
      <if test="remindType != null">
        remind_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remindTime != null">
        #{remindTime,jdbcType=VARCHAR},
      </if>
      <if test="remind != null">
        #{remind,jdbcType=VARCHAR},
      </if>
      <if test="remindType != null">
        #{remindType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Remind">
    update t_remind
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remindTime != null">
        remind_time = #{remindTime,jdbcType=VARCHAR},
      </if>
      <if test="remind != null">
        remind = #{remind,jdbcType=VARCHAR},
      </if>
      <if test="remindType != null">
        remind_type = #{remindType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Remind">
    update t_remind
    set name = #{name,jdbcType=VARCHAR},
      remind_time = #{remindTime,jdbcType=VARCHAR},
      remind = #{remind,jdbcType=VARCHAR},
      remind_type = #{remindType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>